/* ======= VARIABLES ======= */

:root {
  --primary-font: "Roboto", sans-serif;
  --secondaty-font: "Raleway", sans-serif;

  --primary-white-color: #f4f4fd;
  --secondary-white-color: #ffffff;
  --navyblue-color: #2e2f42;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --slate-color: #434455;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
}

/* ====================== */

/* ======= COMMON ======= */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;

  color: var(--slate-color);
  background-color: var(--secondary-white-color);
}

/* ====================== */

/* ======= HEADER ======= */

.header-section {
  border-bottom: 1px solid var(--third-white-color);
}

.header-logo {
  font-family: var(--secondaty-font);
  color: var(--iris-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-black {
  color: var(--navyblue-color);
}

.navigation-link {
  color: var(--navyblue-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--ocean-color);
}

.contact-link {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate-color);
}

address {
  font-style: normal;
}

/* ====================== */

/* ======= HERO ======= */

.hero-section {
  background-color: var(--navyblue-color);
  flex-shrink: 0;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}

.hero-button {
  color: var(--secondary-white-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  border-radius: 4px;
  background: var(--iris-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
}

/* ====================== */

/* ======= BENEFITS ======= */

.benefits-title {
  color: var(--navyblue-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.4px;
}

.benefits-description {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ====================== */

/* ======= WHAT ARE WE DOING ======= */

.product-title {
  color: var(--navyblue-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

/* ====================== */

/* ======= OUR TEAM ======= */

.team-section {
  background: var(--cloud-color);
}

.team-title {
  color: var(--navyblue-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.team-worker-name {
  color: var(--navyblue-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.team-worker-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ====================== */

/* ======= PORTFOLIO ======= */

.portfolio-navigation {
  border-radius: 4px;
  border: 1px solid var(--cornflower-color);
  background: var(--cloud-color);

  color: var(--iris-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.portfolio-title {
  color: var(--navyblue-color);
  font-family: var(--primary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.portfolio-direction {
  color: var(--slate-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-button {
  font-family: var(--primary-font);
  background-color: var(--primary-white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid var(--cornflower-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--ocean-color);

  color: var(--secondary-white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* ====================== */

/* ======= FOOTER ======= */

.main-footer {
  background-color: var(--navyblue-color);
}

.footer-logo {
  font-family: var(--secondaty-font);
  color: var(--iris-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-white {
  color: var(--cloud-color);
}

.footer-describe {
  color: var(--primary-white-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ====================== */
